#container {
    display: flex;
    width: 960px;
    flex-wrap: wrap;
}

.baseCell {
    background-color: darkgray;
    border: solid gray 1px;
}

.blackCell {
    background-color: black;
    border: solid gray 1px;
}